@import "tailwindcss";
@font-face {
    font-family: 'iransans'; /* هر اسمی که دوست دارید اینجا بگذارید */
    src: url('/fonts/IRANSansRegular.ttf') format('truetype'); /* نام فایلی که کپی کردید */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'iransansbold'; /* هر اسمی که دوست دارید اینجا بگذارید */
    src: url('/fonts/IRANSansBold.ttf') format('truetype'); /* نام فایلی که کپی کردید */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}