---
// src/layouts/Layout.astro
import '../styles/global.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Saeed Farzpour Portfolio" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        
        <!-- 1. Vazirmatn (General Font) -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;500;700&display=swap" rel="stylesheet">
        
        <!-- 2. IranSans (Quote Font - via CDN) -->
        <link href="https://cdn.jsdelivr.net/gh/rastikerdar/iransans@v33.003/font-face.css" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/gh/rastikerdar/gandom-font@v3.0.0/font-face.css" rel="stylesheet" type="text/css" />
        <title>{title} - سعید فرزپور</title>
    </head>
    
    <!-- 3. Set Default Font to Vazirmatn -->
    <body class="bg-slate-950 text-white font-['Vazirmatn'] antialiased selection:bg-indigo-500 selection:text-white">

        <main class="pt-12 px-6">
            <slot />
        </main>

        <!-- Footer / Copyright -->
        <footer class="py-8 border-t border-slate-900 text-center">
            <div class="max-w-4xl mx-auto px-6 text-slate-600 text-sm">
                <p>&copy; {new Date().getFullYear()} سعید فرض‌پور. تمامی حقوق محفوظ است</p>
            </div>
        </footer>

        <!-- 4. Helper CSS for the Quote Font -->
        <style is:global>
            .font-iran {
                font-family: 'IranSans', sans-serif !important;
            }
        </style>
    </body>
</html>